<div class="container">
  <h1>Welcome to Jake's List</h1>
  <p>Add an item and rearrange by priority!</p>
  <form name='add_item' method='post' action='/post_item'>
    <input type='text' name='add_item[item]' placeholder='Add Next Item'>
    <button class='btn'>Submit</button>
  </form>
</div>

<div class='list_box'>
<ul id='sortable'>
  <% if @items %>
  <% @items.each do |item| %>
  <li class="ui-state-default"><span class="list"></span><span id='item_id' style='display: none;'><%= item.id %></span><%= item.name %><a href="delete_item/<%= item.id %>">Delete</a></li>
  <%end%>
  <%end%>
</ul>
</div>
